<li class="collection-object-view">
		<div class="image" style="background-image:url({{preview}})">
			<div class="inner">
				<img src="{{preview}}" data-large="{{preview_large}}" data-small="{{preview}}" width="{{image.width}}" height="{{image.height}}" alt="{{title}}" />
			</div>
			<div class="content">
				{{collectiontitle}}
				{{collectiondescription}}
			</div>
		</div>
		<a href="#" class="tip-top has-tip delete-item icon icon-delete button round alert" data-tooltip data-options="disable-for-touch: true" title="{{translate 'deleteItem'}}"></a>
</li>