<ol class="joyride-list" data-joyride id="help">
  {{#each items}}
    <li data-id="{{item_id}}" data-text="{{translate 'continue-tour'}}" data-options="tip_location: {{tip_position}}">
      <h3>{{title}}</h3>
      <p>{{text}}</p>
      <p>{{endtext}}</p>
    </li>
  {{/each}}
  {{#if endtext}}
  <li data-text="{{translate 'end-tour'}}" data-button="Ok">
      <h3>{{endtitle}}</h3>
      <p>{{endtext}}</p>
    </li>
   {{/if}}
</ol>