
	<div class="map-object-view" data-lon="{{lon}}" data-lat="{{lat}}">
		
			<div class="image">
				<img src="./theme/img/invis.gif" data-original="{{preview}}" width="{{width}}" height="{{height}}" alt="{{title}}" />
				<div class="actions">
					<a href="#" class="tip-top button dark lighter icon icon-full-image full-image" data-options="disable_for_touch:true;hover_delay:1000" title="{{translate 'openImage'}}" data-tooltip></a>
					<a href="#" class="tip-top button dark lighter icon icon-collection-image collection-image" data-options="disable_for_touch:true;hover_delay:1000" title="{{translate 'addToCollection'}}" data-tooltip></a>
					<a href="#" class="tip-top button dark lighter icon icon-download-image download-image"  data-options="disable_for_touch:true;hover_delay:1000" title="{{translate 'downloadImage'}}" data-tooltip></a>

					<a href="#" class="tip-top button dark lighter icon icon-mark-image mark-image right" data-options="disable_for_touch:true;hover_delay:2000" data-title-active="{{translate 'unmarkObject'}}"  data-title="{{translate 'markObject'}}" title="{{translate 'markObject'}}" data-tooltip></a>

				</div>
			</div>
			<div class="content">
				

				<h2 class="title"><span class="inner">{{title}}</span></h2>
				<div class="body"><span class="inner">{{summary}}</span></div>

				{{#if author}}
					{{#if author.surname}}
						<div class="author">Autor: {{author.forename}} {{author.surname}}</div>
					{{/if}}
				{{/if}}


			</div>
		
	</div>