
 <div id="sidebar" data-dropdown-content class="template medium f-dropdown content">
			
			<div class="block options floatblock sidebar-block" id="keywords">
				<select name="filterkeywords">
					<option value="showall">{{translate "showAll"}}</option>
					<optgroup label='{{translate "filterByKeywords"}}'></optgroup>
				</select>
			</div>

				<div class="block options sidebar-block lightroom-block">
				<form id="options">
					<select class="displayMode">
						<option value="grid">{{translate "Tableau"}}</option>
						<option value="list">{{translate "list"}}</option>
			  		</select>


				    <div class="optionsblock gridoptions imagesize">
						<div class="floatblock imagesize">
					    	<label for="imagesize" class="left">{{translate "imageSize"}}</label>
					    	<input type="range" name="imagesize" class="right inline" id="imagesize" min="2" max="7" value="5">
						</div>
					</div>
				    
					<div class="optionsblock gridoptions displays" id="sidebar-attributes-selector">
					  <label><input id="title" name="switch-title" type="checkbox" value="true"> {{translate "show-title"}}</label>				
					  <label><input id="desc" name="switch-desc" type="checkbox" value="true"> {{translate "show-desc"}}</label>				 				
					</div>


				</form>			 
			</div>
			
			
			
		</div>



